{% extends "base.html" %}
{% block title %}Blog Admin{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h3>Blog Admin</h3>
		{% include '_flashmessages.html' %}
		
		<p>
		Welcome, {{session.username}} - <a href="{{url_for('logout')}}">logout</a>
		</p>
		
		<div class="post-list">
		{% for post in posts %}
		<div class="post-item">
		<h3><a href="{{url_for('article', slug=post.slug)}}">{{post.title}}</a></h3> 
		{% if not post.live %} 
		<h4>(deleted)</h4>
		{% endif %}
		Posted by <a href="#">{{post.author.fullname}}</a> on 
		<a href="#">{{post.publish_date}}</a> in <a href="#">{{post.category.name}}</a>
		{% endfor %}
		</div>
		</div>
		
	</div>
</div>

{% endblock %}